.jumbotron {
    background-image:url("paint-image.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.jumbotron > h1 {
    color:white;
    text-align:center;
}

thead {
    background-color:black;
    color:white;
}

img {
    width:85%;
}